# =====================
# React / Node frontend
# =====================
admin-portal/node_modules/
admin-portal/build/
admin-portal/dist/
admin-portal/.env

# =====================
# Java / Gradle backend
# =====================
backend/.gradle/
backend/build/
backend/*.class
backend/*.jar
backend/*.war
backend/.idea/
backend/*.iml

# =====================
# Uploaded files
# =====================
uploads/

# =====================
# OS / IDE
# =====================
.DS_Store
*.log

# =====================
# Eclipse / VS Code / IntelliJ / STS
# =====================
# Eclipse
.project
.classpath
.settings/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# VS Code
.vscode/

# Gradle Wrapper
.gradle
!gradle/wrapper/gradle-wrapper.jar
